.impExpExcel {
  background: #185c37;
  border: 3px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 33rem;
  padding: 1rem;
  width: 50rem;
}
.impExpExcel #title {
  color: #fff;
  font: 500 1.4rem Archivo;
  margin-bottom: 1.5rem;
}
.impExpExcel p {
  color: #185c37;
  font: 500 1.5rem Archivo;
}
.impExpExcel #buttons {
  display: flex;
  margin: 0 auto;
}
.impExpExcel button {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font: 500 1.4rem Archivo;
  height: 19rem;
  justify-content: center;
  margin: 2rem;
  width: 17rem;
}
.impExpExcel button:hover {
  box-shadow: 0px 0px 10px 10px #33c481;
  transition: box-shadow 0.2s ease-in-out;
}
.impExpExcel img {
  height: 15rem;
}
.impExpExcel #file {
  color: #fff;
  font-size: 1.5rem;
  height: 3rem;
  margin-left: 4.9rem;
}