.page {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 1rem;
}

.page .titulo {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-rows: 4rem 5rem;
  grid-template-areas:
    'header'
    'titulo';
}

.page #title {
  align-self: center;
  font: 500 2rem Archivo;
  color: #fff;
  grid-area: titulo;
  text-align: center;
}

.page #header {
  height: 3.5rem;
  align-self: center;
  grid-area: header;
}
